<span style="margin-left: 1200px">  <%= link_to 'Login',   new_user_session_path %></span>
<span >  <%= link_to 'signup',    new_user_registration_path %></span>
<span >  <%= link_to 'logout',    destroy_user_session_path %></span>


<body style="background:url('/assets/28094.jpg'); background-repeat:no-repeat; background-size: cover">
<div  style="position:absolute; width:275px; height:500px;  left:60%; top:15%; -webkit-transform: rotate(-16deg); ">
    <h5>Contacts Book</h5>


    <input class="search-bar" id="name" name="name" type="text" placeholder="Search Contacts by Name " onkeyup="myfunction()">
    <img src="/assets/search_logo.png" style="width:8%; height:5%; margin-left:-30px">

    <div id="demo" class="cont-fix"></div>


    <div id="contact-list-wrap" style="width:275px; height: 300px; margin-top:15px;" >
    <% if @contacts.empty? %> <br>
        No result Found &nbsp &nbsp &nbsp &nbsp
        <a href="/contacts/index">Back</a>

    <% else %>
        <% #elsif !@contacts.empty?    %>
        <% #if params[:contact_search][:search].empty?    %>
        <table cellspacing="10">
          <tr>
            <th>Name</th>
            &nbsp &nbsp
            <th><a href="/contacts/index">All</a></th>
            <th><a href="/contacts/male">Male</a></th>
            <th><a href="/contacts/female">Female</a></th>
            <th colspan="4"></th>
          </tr>
          <%# end %>
          <% @contacts.each do |contact| %>
              <tr>
                <td><%= contact.firstname %> </td>
                <td><%= link_to 'Show', contact_path(contact) %></td>
                <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
                <td><%= link_to 'Destroy', contact_path(contact),
                                method: :delete, data: {confirm: 'Hold On!! Are you sure?'} %></td>
              </tr>
          <% end %>
        </table>
          </div>
        <br>
        &nbsp&nbsp&nbsp <%= link_to '+New contact', new_contact_path %>
        <a style="padding-left:60px;" href="/contacts/index">Home</a>


    <% end %>
  </div>

</div>